// Container for flexbox layout
$primary-color: #eaece8;
$navbar-text-color: #010101;
$transition-speed: 0.4s;


.container {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.sidebar {
  width: 250px;
  background-color: #5a7d5a;
  color: white;
  padding: 20px;
  position: relative;
  h2 {
    margin-bottom: 20px;
  }

  nav ul {
    margin-top: 50%;

    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;

      a {
        text-decoration: none;
        color: $navbar-text-color;
        font-size: 20px;
        position: relative;
        padding-bottom: 5px;
        transition: color $transition-speed;
        font-weight: bold;

        // Animated underline effect
        &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $primary-color;
          transition: width $transition-speed;
        }

        &:hover {
          color: lighten($primary-color, 10%);

          // Animate underline on hover
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

// Main content
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}



// Hero section
.hero-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-right: 35%;

  .hero-title {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90.79deg, #0048ff 3.42%, #d6008d 82.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
  }

  .hero-circle {
    position: absolute;
    top: -50px;
    right: -10px;
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #ff8a9a, #8ed1fc);
    border-radius: 50%;
    opacity: 0.3;
  }
}

// About section
.about-company-section {
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.about-title {
  font-size: 20px;
  color: #0048ff;
  margin-left: 80px;
}

.about-body {
  font-size: 1rem;
  padding-left: 20px;
  border-left: 2px solid #e0e0e0;
  margin-left: 50px;
}

// Responsive for small screens
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .top-nav {
    justify-content: space-between;
    padding-left: 10px;
  }

  .hero-section {
    align-items: center;
    text-align: center;
    margin-right: 0%;

    .hero-title {
      font-size: 1.5rem;
    }

    .hero-description {
      border-left: none;
      padding-left: 0;

    }
  }

  .about-company-section {
    flex-direction: column;
    text-align: center;

    .about-title {
      margin-left: 0;
    }

    .about-body {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
}
